.body{
    background-color: white;
}
.navbar {
    background-color: #f8f9fa;
    color: #333; 
    padding: 15px 0;
}


.navbar-brand {
    font-weight: bold;
}


.navbar-nav .nav-item {
    margin-right: 15px; 
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #dc3545;
}


.navbar-toggler-icon {
    background-color: #333;
}




.btn-danger {
    background-color: #dc3545; 
    color: #fff;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333; 
    transform: scale(1.05); 
}
.container-fluid{
    background-color: grey;
}
